#content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px ;
    height: 250px;
    background-color: var(--blue-dark);
    backdrop-filter: blur(5px);
    border-radius: var(--border-rad-bigger);
    transition: color 0.3s ease, box-shadow 0.4s ease;
    box-shadow: 10px 10px 0 var(--primary-600);
}
#content-div:hover{
    box-shadow: 15px 15px 0 var(--green-dark);
}

#content-div p {
    color: var(--primary-0);
    font-size: var(--bigger-text);
}

#content-div a{
    font-size: var(--normal-text);
    margin-top: 15px;
    color: var(--primary-0);
    background-color: var(--blue-vivid);
    border: none;
    outline: none;
    padding: 7px 10px;
    border-radius: var(--border-rad-main);
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#content-div a:hover {
    background-color: var(--green-dark);
    box-shadow: 0 0 15px var(--green-vivid-shadow);
}    

#content-div i {
    margin-right: 5px;
}