body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: top;

    /* Background color if needed */
    background-color: var(--primary-1000);

    /* /*     /* Two gradients: one for vertical lines and one for horizontal lines */
    background-image:
      linear-gradient(to right, var(--blue-dark) 1px, transparent 1px),
      linear-gradient(to bottom, var(--blue-dark) 1px, transparent 1px);

      
  
    /* Size of the grid cells (adjust as needed) */
    background-size: 100px 100px;
    overflow: hidden;

    transition: all 0.3s ease-in-out;
}

#content-container{
    width: 90vw;
    height: 80%;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    padding: 20px 20px;
    margin-top: calc(var(--navbar-height) + 70px);
    /* background-color: var(--primary-800); */
    backdrop-filter: blur(5px);
    backdrop-filter: brightness(0.9) blur(5px);
    border: 3px dashed var(--primary-0);

    border-radius: var(--border-rad-bigger);
}
#left-section{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#center-section{
    grid-column: 2;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#right-section{
    height: 100%;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-button{
    position: absolute;
    left: 20px;
    top: 20px;
    color: aliceblue;
    font-size: 3em;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
}
.back-button:hover{
    transform: scale(1.1);
}


#buttons-container{
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.button-bind{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 10px;
    border: none;
    border-radius: var(--border-rad-main);
    font-size: var(--normal-text);
    font-weight: 700;
    background-color: var(--gray-dark);
    color: var(--gray-main);
    outline: none;
    box-shadow: 5px 5px 0 var(--gray-main);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.5s ease;
}
.button-bind.binded{
    background-color: var(--green-bright);
    box-shadow: 5px 5px 0 var(--green-dark) ,0 0 20px rgba(13, 198, 124, 0.116);
    color: var(--primary-0);
}

.button-bind i{
    font-size: var(--bigger-text);
    margin-bottom: 7px;
}

/* buttons actions */
#action-buttons-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.button{
    width: 130px;
    height: 35px;
    text-align: center;
    font-size: var(--normal-text);
    color: var(--gray-main);
    background-color: var(--gray-dark);
    border: none;
    outline: none;
    padding: 7px 10px;
    border-radius: var(--border-rad-main);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button i{
    margin-right: 10px;
}

#button-use{
    margin-bottom: 30px;
    background-color: var(--green-dark);
    color: var(--primary-0);
}
#button-use:hover{
    box-shadow: 0 0 15px var(--green-vivid-shadow);
}

#button-delete{
    background-color: var(--red-dark);
    color: var(--primary-0);
}
#button-delete:hover{
    box-shadow: 0 0 15px rgba(255, 17, 0, 0.281);
}

/* name and description display */
#item-name{
    font-size: var(--bigger-text);
    padding: 8px 10px;
    width: 80%;
    border-radius: var(--border-rad-main);
    border: none;
    outline: none;
    margin: 10px 0 10px 0 ;
    background-color: var(--primary-800);
    color: var(--primary-0);
    transition: all 0.2s ease-in-out;
}

#item-name:focus,
#item-desc:focus{
    border: 3px solid var(--primary-600);
}

#item-desc{
    width: 80%;
    height: 60%;
    border-radius: var(--border-rad-bigger);
    background-color: var(--primary-800);
    margin-top: 10px;
    font-size: var(--normal-text);
    color: var(--primary-50);
    padding: 15px 10px;
    /* margin-bottom: 15px; */
    cursor: default;
    resize: none;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}


#item-edit-buttons-cont{
    display: flex;
    margin-top: 20px;
}

/* buttons for submit text edit */
#confirm-changes{
    margin-right: 20px;
    cursor: default;
    transition: color 0.2 ease-in-out;
}
#confirm-changes.enabled{
    background-color: var(--green-dark);
    color: var(--primary-0);
    cursor: pointer;
}

#cancel-changes{
    cursor: default;
}
#cancel-changes.enabled{
    cursor: pointer;
    color: var(--primary-0);
    transition: color 0.2 ease-in-out;
}
