#section-right{
    position: relative;
    border-radius: var(--border-rad-main);
    padding: 30px 30px;
    box-shadow: 10px 10px 0 var(--primary-600);
    transition: box-shadow 0.3s ease-in-out, border 0.5s ease-in-out;
    background-color: var(--blue-dark);
}

/* main search bar */
#search-saves-cont{
    display: flex;
    align-items: center;
    width: 100%;
}
#search-saves-cont i{
    position: relative;
    left: 25px;
    font-size: var(--normal-text);
    color: var(--green-dark);

}

#search-saves-profile{
    font-size: var(--normal-text);
    padding: 8px 35px;
    width: 100%;
    border-radius: var(--border-rad-main);
    border: none;
    outline: none;
    margin: 10px 0 10px 0 ;
    background-color: var(--primary-800);
    color: var(--primary-0);
    transition: all 0.2s ease-in-out;
}

#search-saves-profile:focus{
    box-shadow: 0 0 10px var(--green-vivid-shadow);

    padding-left: 10px;
}
#search-saves-cont:focus-within i {
    visibility: hidden;
}


#search-saves-profile::placeholder{
    color: var(--green-dark);
}


/* buttons parameters */
#search-control-btn-cont{
    display: flex;
    margin-top: 10px;

    align-items: center;
    justify-content: start;
    background-color: var(--primary-800);
    padding: 10px 20px;
    border-radius: var(--border-rad-main);
}

#search-control-btn-cont .button{
    margin-right: 15px;
}

#liked-button.selected{
    color: var(--primary-0);
    background-color: var(--red-dark);
}

/* display saves container */
#saves-display-area{
    width: 100%;
    display: flex;
    /* flex-grow: 1; */
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    margin-top: 10px;
    padding: 20px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    column-gap: 30px;
    row-gap: 30px;
    position: relative;
}

.no-saves-msg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: var(--bigger-text);
    color: var(--gray-main);
}


/* while container hover */
#section-right:hover{
    box-shadow: 20px 20px 0 var(--primary-400);
}

/* animation for the single square element */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 0.4s ease-in-out forwards;
  }