<% 
let inputClass = ""
let errMsg = ""
let usernameVal = ""
// check if we comeback to the login form with some error
if (error) {
    inputClass = "inputError"
    errMsg = error
    usernameVal = formData.username
}
%>


<div id="form-cont">
    <form method="post">
        <div id="title-cont">
            <i class="fa-solid fa-user"></i>
            <h2>Login</h2>
        </div>
        <!-- <label for="name">Username:</label> -->
        <input type="text" name="username" placeholder="Username or Email" value="<%= usernameVal %>" class="<%= inputClass %>">
        
        <!-- <label for="password">Password:</label>  -->
        <input type="password" name="password" placeholder="Password" class="<%= inputClass %>"> 
        
        <div id="btn-msg-cont">
            <button type="submit"><i class="fa-solid fa-right-to-bracket"></i>Log in</button> 
            <p id="info-msg">Dont have account? <a href="/auth/register">Register</a></p>
        </div>
    </form>

    <div id="sso-icons-cont">
        <a id="google-login" href="/auth/sso/google"><i class="fa-brands fa-google"></i></a>
        <a id="google-login" href="/auth/sso/github"><i class="fa-brands fa-github"></i></a>
    </div>
    <p id="err-msg"><%= errMsg %></p>
</div>