<div>
    <form>
        <input type="text" placeholder="name"> 
        <input type="email" placeholder="email"> 
        <input type="tel" placeholder="phone"> 
        <input type="date" placeholder="date of birth"> 
    </form>
</div>