<div id="login-cont">
    <form method="post">
        <label for="name">Username:</label>
        <input type="text" name="username" placeholder="username123">
        <label for="password">Password:</label> 
        <input type="password" name="password" placeholder="keyboard@email.com"> 
        <button type="submit">Log in</button> 
    </form>
    <p>Dont have account? <a href="/auth/register">Register</a></p>
</div>