<% 
let usernameVal = username ? username : ""
let emailVal = email ? email : ""
let memberDays = memberLength ? memberLength : "0"
let savedBindNum = savesNum ? savesNum : "0"
%>

<div id="content-container">

    <div id="section-left">

        <div id="user-cont">

            <div id="user-info">
                <i class="fa-solid fa-user"></i>

                <div id="username-email-cont">
                    <p id="profile-username"><%= username  %></p>
                    <p id="profile-email"><%= emailVal %></p>
                </div>
            </div>

            <div id="user-stats-btn-cont">
                <div id="user-stats-cont">
                    <p>Likes: <span class="user-stat-val">??</span></p>
                    <p>Liked: <span class="user-stat-val">??</span></p>
                    <p>Saved: <span class="user-stat-val"><%= savedBindNum %></span></p>
                    <p>Member for: <span class="user-stat-val"><%= memberDays %> days</span></p>
                </div>

                <div id="user-buttons">
                    <a id="logout-btn" href="/auth/logout"><i class="fa-solid fa-right-from-bracket"></i>Log out</a>
                    <a id="delete-acc" href="/auth/delete-account"><i class="fa-solid fa-heart-crack"></i>Destroy</a>
                </div>
            </div>

        </div>

        <div id="user-settings-cont">

        </div>
    </div>

    <div id="section-right">

    </div>

</div>
