<div id="content-container">
    <a href="/profile" class="back-button"><i class="fa-solid fa-caret-left"></i></a>
    
    <div id="left-section">
        <input id="item-name" maxlength="" placeholder="Save name">

        <textarea id="item-desc" placeholder="Description...">Text in the area</textarea>

        <div id="item-edit-buttons-cont">
            <button class="button disabled" id="confirm-changes"><i class="fa-solid fa-sliders"></i>Confirm</button>
            <button class="button disabled" id="cancel-changes"><i class="fa-solid fa-rotate-left"></i>Cancel</button>
        </div>

    </div>
    
    <div id="center-section">
        <div id="buttons-container">
            <button class="button-bind" id="key-1" data-key-num="1"><i class="fa-solid fa-minus"></i> Not binded</button>
            <button class="button-bind" id="key-2" data-key-num="2"><i class="fa-solid fa-minus"></i> Not binded</button>
            <button class="button-bind" id="key-3" data-key-num="3"><i class="fa-solid fa-minus"></i> Not binded</button>
            <button class="button-bind" id="key-4" data-key-num="4"><i class="fa-solid fa-minus"></i> Not binded</button>
            <button class="button-bind" id="key-5" data-key-num="5"><i class="fa-solid fa-minus"></i> Not binded</button>
            <button class="button-bind" id="key-6" data-key-num="6"><i class="fa-solid fa-minus"></i> Not binded</button>
            <button class="button-bind" id="key-7" data-key-num="7"><i class="fa-solid fa-minus"></i> Not binded</button>
            <button class="button-bind" id="key-8" data-key-num="8"><i class="fa-solid fa-minus"></i> Not binded</button>
            <button class="button-bind" id="key-9" data-key-num="9"><i class="fa-solid fa-minus"></i> Not binded</button>
        </div>

    </div>

    <div id="right-section">
        <div id="action-buttons-center">
            <button class="button" id="button-use"><i class="fa-solid fa-circle-check"></i>Use</button>
            
            <button class="button" id="button-delete"><i class="fa-regular fa-trash-can"></i>Delete</button>
        </div>
    </div>


</div>