<% 
let usernameVal = username ? username : ""
let emailVal = email ? email : ""
let memberDays = memberLength ? memberLength : "0"
let savedBindNum = savesNum ? savesNum : "0"
%>

<div id="content-container">

    <div id="section-left">

        <div id="user-cont">

            <div id="user-info">
                <i class="fa-solid fa-user"></i>

                <div id="username-email-cont">
                    <p id="profile-username"><%= username  %></p>
                    <p id="profile-email"><%= emailVal %></p>
                </div>
            </div>

            <div id="user-stats-btn-cont">
                <div id="user-stats-cont">
                    <p>Likes: <span class="user-stat-val">No data</span></p>
                    <p>Liked: <span class="user-stat-val">No data</span></p>
                    <p>Saved: <span class="user-stat-val"><%= savedBindNum %></span></p>
                    <p>Member for: <span class="user-stat-val"><%= memberDays %> days</span></p>
                </div>

                <div id="user-buttons">
                    <a id="logout-btn" class="button" href="/auth/logout"><i class="fa-solid fa-right-from-bracket"></i>Log out</a>
                </div>
            </div>
            
        </div>
        
        <div id="user-settings-cont">
            <div class="user-settings-line">
                <p>Delete account:</p>
                <a id="delete-acc" class="button"><i class="fa-solid fa-user-slash"></i>Delete</a>
            </div>
            
            <div class="user-settings-line">
                <p>Change password:</p>
                <a id="change-pwd" class="button" href="auth/pwd-change"><i class="fa-solid fa-key"></i>Password</a>
            </div>
            
            <div class="user-settings-line">
                <p>Change username:</p>
                <a id="change-username" class="button"><i class="fa-solid fa-signature"></i>Username</a>
            </div>



        </div>
    </div>

    <div id="section-right">
        <div id="search-saves-cont">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" id="search-saves-profile" placeholder="Search binding saves....">
        </div>

        <div id="search-control-btn-cont">
            <button class="button" id="liked-button"><i class="fa-solid fa-heart"></i>All</button>
            <button class="button">filter</button>
            <!-- <button class="button">sussy baka</button> -->
        </div>

        <!-- display area -->
        <div id="saves-display-area">

        </div>

    </div>

</div>
