<%
const emailVal = email ? email : ""
const errorVal = error ? error : ""

 %>
 
<form id="form-cont" method="post">
    <p>Your verification code was sent to <span id="email-display"><%= emailVal %></span>. Code expires in 5 minutes. </p>
    <input type="hidden" value=<%= emailVal %> name="email">
    <input id="input-code" type="text" name="token" placeholder="ABCD1234">
    <button id="send-button" type="text"><i class="fa-solid fa-circle-check"></i>Verify</button>
    <p id="error-msg"><%= errorVal %></p>
</form>