*{
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

:root{
    --navbar-height: 40px;
    
    /* fonts */
    --small-text: 0.75em;
    --smaller-text: 0.9em;
    --normal-text: 1em;
    --bigger-text: 1.4em;
    --big-title-text: 2em;
      /* COLORS  */
    /* primary */
    /* --primary-0: #fff5ec;
    --primary-100: #c1beff;
    --primary-200: #7ca1c4;
    --primary-400: #6e779c;
    --primary-600: #2e5475;
    --primary-800: #151e27;
    --primary-1000: #040d16; */

    --primary-0: rgb(245, 246, 250);
    --primary-50: #D4DDF7ff;
    --primary-100: #293988ff;
    --primary-200: #15137Aff;
    --primary-400: rgb(25, 32, 97);
    --primary-600: rgb(44, 51, 82);
    --primary-800: rgb(27, 30, 43);
    --primary-1000: rgb(11, 13, 20);

    /* rest */
    --green-vivid: rgb(71, 229, 71);
    --green-bright: rgb(29, 163, 83);
    --green-dark: rgb(79, 98, 79);
    --red-vivid: rgb(219, 57, 45);
    --red-dark: rgb(113, 64, 64);
    --gray-main: rgb(67, 75, 81);
    --gray-dark: rgb(43, 46, 48);
    
    --blue-dark: rgb(14, 26, 36);
    --blue-vivid: #6827f2;
    
    /* shadows */
    --blue-vivid-shadow: #6727f23d;
    --green-vivid-shadow: rgba(29, 163, 83, 0.356);
    --green-vivid-shadow-mild: rgba(29, 163, 83, 0.089);
    --primary-0-shadow: rgba(245, 246, 250, 0.116);

    /* SHAPES */
    --border-rad-main: 10px;
    --border-rad-smaller: 8px;
    --border-rad-bigger: 15px;

}


body{
    margin-top: calc(var(--navbar-height) + 10px);
    margin: 0;
}


body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: linear-gradient(to top, var(--primary-1000), rgb(18, 24, 33)); */

    /* Background color if needed */
    background-color: var(--primary-1000);

    /* /*     /* Two gradients: one for vertical lines and one for horizontal lines */
    background-image:
      linear-gradient(to right, var(--blue-dark) 1px, transparent 1px),
      linear-gradient(to bottom, var(--blue-dark) 1px, transparent 1px);
  
    /* Size of the grid cells (adjust as needed) */
    background-size: 100px 100px;
    overflow: hidden;

    transition: all 0.3s ease-in-out;
}