#form-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px ;
    height: 250px;
    background-color: var(--blue-dark);
    backdrop-filter: blur(5px);
    border-radius: var(--border-rad-bigger);
    transition: color 0.3s ease, box-shadow 0.4s ease;
    box-shadow: 10px 10px 0 var(--primary-600);
}
#form-cont:hover{
    box-shadow: 15px 15px 0 var(--green-dark);
}

#form-cont p {
    color: var(--primary-0);
    font-size: var(--normal-text);
    text-align: center;
}

#email-display{
    color: var(--green-bright)
}

#send-button{
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
}

#send-button:hover{
    background-color: var(--green-dark);
    box-shadow: 0 0 10px var(--green-vivid-shadow-mild);
}

#form-cont i {
    margin-right: 5px;
}

#input-code{
    margin-top: 30px;
    width: 50%;
}