body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, var(--primary-1000) 90%, rgb(29, 51, 54));

      /* Background color if needed */
    background-color: var(--primary-1000);
  
/* /*     /* Two gradients: one for vertical lines and one for horizontal lines */
    background-image:
        linear-gradient(to right, var(--blue-dark) 1px, transparent 1px),
        linear-gradient(to bottom, var(--blue-dark) 1px, transparent 1px);
    
    /* Size of the grid cells (adjust as needed) */
    background-size: 100px 100px; 

    transition: all 0.3s ease-in-out;
}

body:has(#form-cont:hover) {
    background-position-x: -5%;
    background-position-y: -5%;
    background-size: 110px 110px;
    /* backdrop-filter: blur(5px); */
}

#form-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--blue-dark);
    backdrop-filter: blur(5px);
    border-radius: var(--border-rad-bigger);
    transition: color 0.3s ease, box-shadow 0.4s ease;
    box-shadow: 10px 10px 0 var(--primary-600);
}
#form-cont:hover{
    box-shadow: 15px 15px 0 var(--primary-400);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 80%;
}


/* title with icon   */
#title-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: var(--big-title-text);
    color: var(--primary-0);
    margin-bottom: 30px;
}

#title-cont i{
    margin-right: 10px;
    font-size: var(--bigger-text);
}

#title-cont h2{
    padding: 0;
    margin: 0;
}


/* from properties */
form label{
    font-size: var(--normal-text);
    color: var(--primary-0);
    margin-bottom: 10px;
    margin-top: 10px;
}

form input{
    font-size: var(--normal-text);
    padding: 8px 10px;
    width: 100%;
    border-radius: var(--border-rad-main);
    border: none;
    outline: none;
    margin: 10px 0 10px 0 ;
    background-color: var(--primary-800);
    color: var(--primary-0);
}

input:focus{
    box-shadow: 0 0 10px var(--green-vivid-shadow);
}

input::placeholder{
    color: var(--green-dark);
}

#btn-msg-cont{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#info-msg{
    margin: 0;
    color: var(--primary-0)
}
#info-msg a{
    color: var(--blue-vivid);
}

form button{
    font-size: var(--normal-text);
    margin-top: 15px;
    color: var(--primary-0);
    background-color: var(--blue-vivid);
    border: none;
    outline: none;
    padding: 7px 10px;
    border-radius: var(--border-rad-main);
    cursor: pointer;
    margin: 0;
}
form button:hover{
    box-shadow: 0 0 15px var(--blue-vivid-shadow);
}

form button i {
    margin-right: 5px;
}


/* error states */
#err-msg{
    color: var(--red-vivid);
}

.inputError{
    border: red solid 3px;
}

.inputCorrect{
    border: none
}