#main-nav{
    position: fixed;
    top: 40px;
    right: 100px;

    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-nav img{
    width: 70px;
    height: 70px;
    cursor: pointer;
}

#navigation{
    display: flex;
    width: 400px;
    height: var(--navbar-height);
    /* left: 40%; */
    justify-content: space-around;
    align-items: center;
    background-color: var(--gray-dark);
    border-radius: var(--border-rad-bigger);
}
#navigation:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.11);
    filter: brightness(1.3);
}

#navigation a {
    text-decoration: none;
    font-size: var(--normal-text);
    text-transform: uppercase;
    color: var(--gray-main);
    transition: all 0.1s ease-in-out;
}

#navigation a:hover{
    color: var(--primary-0)
}