.save-cont{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 350px;
    height: 200px;
    background-color: var(--primary-800);
    padding: 20px 20px;
    border-radius: var(--border-rad-main);
    margin: 0;
    color: var(--primary-0);
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;

}


.save-keys-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    grid-template-rows: repeat(3, auto);   /* 3 rows with auto height; use 1fr for equal heights */
    gap: 10px; /* optional gap between grid items */
}

.save-key{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border-radius: 5px;
}

.save-key-binded{
    background-color: var(--green-bright);
    box-shadow: 0 0 10px rgba(0, 128, 28, 0.37);
}
.save-key-empty{
    background-color: var(--blue-dark);
}

.save-name{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.save-stats-bottom{
    position: relative;
    margin-top: 30px;
    width: 100%;
}

.save-date{
    font-size: var(--smaller-text);
    margin: 0;
    color: var(--gray-main);
}

/* username cont  */
.save-username-ico-cont{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--gray-main);
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease-in-out;

}

.save-username{
    margin: 0;
    margin-right: 10px;
    font-size: var(--smaller-text);
}

/* icons */
.save-public-state{
    position: absolute;
    left: 20px;
    top: 20px;
    color: var(--gray-main);
}

.save-likes-cont{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--gray-main);
}
.save-likes-num{
    margin: 0;
    margin-left: 5px;
}

.separator{
    width: 100%;
    border: 1px solid var(--green-dark);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 0;
}


/* hovering container */
.save-cont:hover{
    box-shadow: 5px 5px 0 var(--green-dark);
    transform: scale(1.02);

    .save-username-ico-cont{
        color: var(--primary-0);
    }

    .save-likes-ico{
        color: var(--red-dark);
    }
}