<footer>
    <div id="icons-links">
        <a href="mailto:jotalac@seznam.cz?subject=[Quick key - question]"><i class="fa-solid fa-envelope"></i><spn class="icon-text">Contact</spn></a>
        <a href="suc" target="_blank"><i class="fa-solid fa-circle-dollar-to-slot"></i><spn class="icon-text">Support</spn></a>
        <a href="https://instagram.com/jta_cz/" target="_blank"><i class="fa-brands fa-instagram"></i>><spn class="icon-text">Instagram</spn></a>
        <a href="https://github.com/JouSee11/QUICK_KEY_controller/" target="_blank"><i class="fa-brands fa-github"></i><spn class="icon-text">GitHub</spn></a>
        <a href="https://www.linkedin.com/in/josef-talac-827241260/" target="_blank"><i class="fa-brands fa-linkedin-in"></i><spn class="icon-text">LinkedIn</spn></a>
    </div>
    <p>Created by Josef TalaÄ</p>
</footer>