#user-settings-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    border-radius: var(--border-rad-main);
    padding: 15px 20px;
    box-shadow: 10px 10px 0 var(--primary-600);
    transition: box-shadow 0.3s ease-in-out;
    background-color: var(--blue-dark);
}

.user-settings-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.user-settings-line p{
    color: var(--gray-main);
}

#delete-acc:hover{
    background-color: var(--red-vivid);
    box-shadow: 0 0 20px rgba(158, 16, 16, 0.623);
}

#change-pwd:hover{
    background-color: var(--green-dark);
    box-shadow: 0 0 20px rgba(9, 122, 24, 0.623);
}


/* hovering effect on the conteiner */
#user-settings-cont:hover{
    box-shadow: 15px 15px 5px var(--primary-400);
    /* background: linear-gradient(to bottom, var(--blue-dark), var(--primary-400)); */

    .user-settings-line p{
        color: var(--primary-0)
    }

    .button{
        color: var(--primary-0)
    }
}
