.button{
    width: 130px;
    height: 35px;
    text-align: center;
    font-size: var(--normal-text);
    color: var(--gray-main);
    background-color: var(--gray-dark);
    border: none;
    outline: none;
    padding: 7px 10px;
    border-radius: var(--border-rad-main);
    cursor: pointer;
    text-decoration: none;
    /* transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; */
    transition: all 0.2s ease-in-out;
}

.button i {
    margin-right: 10px;
}
