<footer>
    <div id="icons-links">
        <a href="mailto:pepa.talac@gmail.com?subject=[Quick key - question]"><i class="fa-solid fa-envelope"></i>Contact</a>
        <a href="suc" target="_blank"><i class="fa-solid fa-circle-dollar-to-slot"></i>Support</a>
        <a href="https://instagram.com/jta_cz/" target="_blank"><i class="fa-brands fa-instagram"></i>Instagram</a>
        <a href="https://github.com/JouSee11/QUICK_KEY_controller/" target="_blank"><i class="fa-brands fa-github"></i>GitHub</a>
        <a href="https://www.linkedin.com/in/josef-talac-827241260/" target="_blank"><i class="fa-brands fa-linkedin-in"></i>LinkedIn</a>
    </div>
    <p>Created by Josef TalaÄ</p>
</footer>