#custom-context-menu{
    position: absolute;
    background-color: var(--gray-dark);
    color: var(--primary-0);
    border-radius: var(--border-rad-smaller);
    cursor: pointer;
}

.context-items-list{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

.context-li{
    margin: 5px;
    padding: 7px;
    border-radius: var(--border-rad-smaller);
}

.context-li i{
    margin-right: 5px;
}

/* hover effects */
.context-li:hover{
    background-color: var(--primary-1000);
}