#toggle-cont{
    --toggle-width: 120px;
    --toggle-height: 40px;
}

#toggle-cont {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
  }

#public-priv-toggle {
    display: none;
}

/* Label that looks like a slider */
.toggle-label {
    display: inline-block;
    position: relative;
    width: var(--toggle-width);    /* Adjust as needed */
    height: var(--toggle-height);   /* Adjust as needed */
    background-color: var(--gray-dark);
    border-radius: 30px;
    cursor: pointer;
}

/* Icons styling */
.toggle-label i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--bigger-text);       /* Adjust icon size */
    text-align: center;
    color: var(--gray-main);
    z-index: 2;
}

.private-icon{
    left: 9px;
}

.public-icon {
    right: 8px;
}

/* The round knob inside the toggle */
.toggle-knob {
    position: absolute;
    top: 3px;
    left: 3px;
    height: calc(var(--toggle-height) - 6px);
    aspect-ratio: 1;
    background-color: rgba(170, 170, 170, 0.712);
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

/* When the checkbox is checked, move the knob to the right */
#public-priv-toggle:checked + .toggle-label .toggle-knob {
    transform: translateX(calc(var(--toggle-width) - var(--toggle-height))); /* Move knob to the right; adjust for your width */
    background-color: var(--primary-200);
}

/* Optionally change the background color of the slider when checked */
#public-priv-toggle:checked + .toggle-label {
    background-color: var(--primary-100);
}

/* change color of the public icon when it is check */
#public-priv-toggle:checked + .toggle-label .public-icon{
    color: var(--primary-50);
}

#public-priv-toggle:checked + .toggle-label .private-icon{
    color: var(--primary-1000);
}