/* pages switch */
#pages-switch-cont{
    display: flex;
    flex-direction: row;
}

.page-button{
    width: 35px;
    height: 35px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background-color: var(--blue-dark);
    border: none;
    color: var(--gray-main);
    transition: background-color 0.3s ease, color 0.3s ease, border 0.5s ease, box-shadow 0.5s ease;
}

.page-button:hover{
    filter: brightness(1.5);
}

.page-button.active{
    background-color: var(--green-dark);
    box-shadow: 0 0 20px var(--green-vivid-shadow);
    color: var(--primary-0);
    border: 2px solid var(--green-bright);
}


/* buttons container  */
#buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}

.button-page{
    display: none;
}

.button-page.active{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.button-page.showed .button-bind{
    filter: blur(5px);
}