#like-button{
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1;
    border-radius: var(--border-rad-main);
    background-color: var(--gray-dark);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#like-icon{
    font-size: var(--bigger-text);
    color: var(--gray-main);
}

#like-button.active{
    background-color: var(--red-dark);


    #like-icon{
        color: var(--primary-0);
        text-shadow: 0 0 10px white;
    }
}