<h1 id="page-title">Quick key</h1>
<div id="title-slogn-cont">
    <h2 id="header-slogan">Modular keyboard for everyday use!</h2>
    <div id="buttons-header-cont">
        <a class="header-button button-app" href="/">Go to app</a>
        <a class="header-button button-shop" href="/shop">Shop</a>
    </div>
</div>

<div id="main-img-cont">

    <img id="main-big-img" src="/images/about/image_1.png">
</div>

<div class="text-image-block">
    <div class="image-cont">
        <img src="/images/about/image_1.png" alt="main photo" class="container-image"/>
    </div>
    <div class="text-cont">
        <h2 class="block-header">Unlimited actions</h2>
        <p class="block-text">Quick key is the new modular keyboard for this shit and now 
            i am typing this rnadom shit now to make it look like there is some long text now 
        </p>
    </div>
</div>

<div class="text-image-block">
    <div class="text-cont">
        <h2 class="block-header">Affordable 30$</h2>
        <p class="block-text">Most adfordable modular keyboard, hand made and this shit and thisis also some 
            shitty long text
        </p>
    </div>
    <div class="image-cont">
        <img src="/images/about/image_1.png" alt="main photo" class="container-image"/>
    </div>
</div>