/* Add to your existing CSS file */
.pagination-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 0;
    margin-top: 15px;
    flex-grow: 1;
}

.pagination-controls-cont{
    display: flex;

}

.pagination-btn {
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    color: var(--gray-main);
    cursor: pointer;
    transition: background-color 0.2s;
}

.pagination-btn:hover:not(:disabled) {
    color: var(--green-bright);
}

.pagination-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination-info{
    margin: 10px;
    font-size: var(--smaller-text);
    color: var(--gray-main);
}

.page-numbers {
    display: flex;
    gap: 5px;
}

.page-number-btn {
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--gray-main);
    font-size: var(--noraml-text);
    transition: all 0.2s;
}

.page-number-btn.active {
    background-color: var(--green-dark);
    color: var(--primary-0);
}

.page-number-btn:hover:not(.active) {
    background-color: var(--gray-dark);
}